In [32]:
import pandas as pd
forest_df = pd.read_csv("fao_data_forest_america_data.csv")
crops_df = pd.read_csv("fao_data_crops_america_data.csv")
land_df = pd.read_csv("fao_data_land_america_data.csv")
frames = [forest_df, crops_df, land_df]
pd.des

,country_or_area,element_code,element,year,unit,value,value_footnotes,categgory,area,category
0,United States of America,150.0,Non-fertilizer use,2007,tonnes,0.0,NR,ammonia_anhydrous,NaN,NaN
1,United States of America,150.0,Non-fertilizer use,2006,tonnes,1120025.0,Qm,ammonia_anhydrous,NaN,NaN
2,United States of America,150.0,Non-fertilizer use,2005,tonnes,1076048.0,Qm,ammonia_anhydrous,NaN,NaN
3,United States of America,150.0,Non-fertilizer use,2004,tonnes,637163.0,Qm,ammonia_anhydrous,NaN,NaN
4,United States of America,150.0,Non-fertilizer use,2003,tonnes,1236054.0,Qm,ammonia_anhydrous,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
460,United States of America,11.0,Area,1965,1000 Ha,15200.0,F,NaN,NaN,total_area_equipped_for_irrigation
461,United States of America,11.0,Area,1964,1000 Ha,14996.0,Q,NaN,NaN,total_area_equipped_for_irrigation
462,United States of America,11.0,Area,1963,1000 Ha,14700.0,F,NaN,NaN,total_area_equipped_for_irrigation
463,United States of America,11.0,Area,1962,1000 Ha,14400.0,F,NaN,NaN,total_area_equipped_for_irrigation
464,United States of America,11.0,Area,1961,1000 Ha,14000.0,F,NaN,NaN,total_area_equipped_for_irrigation