In [22]:
import pandas as pd
forest_df = pd.read_csv("fao_data_forest_america_data.csv")
#fill in value footnotes with the mode
#gets the most common 
forest_value_foot = forest_df.mode()["value_footnotes"][0]
forest_df["value_footnotes"].fillna(forest_value_foot, inplace=True)
forest_df.head()

,country_or_area,element_code,element,year,unit,value,value_footnotes,category
0,United States of America,150,Non-fertilizer use,2007,tonnes,0.0,NR,ammonia_anhydrous
1,United States of America,150,Non-fertilizer use,2006,tonnes,1120025.0,Qm,ammonia_anhydrous
2,United States of America,150,Non-fertilizer use,2005,tonnes,1076048.0,Qm,ammonia_anhydrous
3,United States of America,150,Non-fertilizer use,2004,tonnes,637163.0,Qm,ammonia_anhydrous
4,United States of America,150,Non-fertilizer use,2003,tonnes,1236054.0,Qm,ammonia_anhydrous
...,...,...,...,...,...,...,...,...
11301,United States of America,92,Export Value,2002,1000 $,974985.0,A,wrapping_papers
11302,United States of America,92,Export Value,2001,1000 $,974985.0,A,wrapping_papers
11303,United States of America,92,Export Value,2000,1000 $,1051168.0,A,wrapping_papers
11304,United States of America,92,Export Value,1999,1000 $,959778.0,A,wrapping_papers
11305,United States of America,92,Export Value,1998,1000 $,936838.0,A,wrapping_papers

In [23]:
crops_df = pd.read_csv("fao_data_crops_america_data.csv")
#fill in value footnotes with the mode
crops_value_foot = crops_df.mode()["value_footnotes"][0]
crops_df["value_footnotes"].fillna(forest_value_foot, inplace=True)
crops_df.head()

,country_or_area,area,element,year,unit,value,value_footnotes,category
0,United States of America,31,Area Harvested,2007,Ha,248890.0,A,almonds_with_shell
1,United States of America,31,Area Harvested,2006,Ha,234718.0,A,almonds_with_shell
2,United States of America,31,Area Harvested,2005,Ha,234718.0,A,almonds_with_shell
3,United States of America,31,Area Harvested,2004,Ha,230671.0,A,almonds_with_shell
4,United States of America,31,Area Harvested,2003,Ha,222577.0,A,almonds_with_shell

In [29]:
land_df = pd.read_csv("fao_data_land_america_data.csv")
#fill in value footnotes with the mode
land_value_foot = land_df.mode()["value_footnotes"][0]
land_df["value_footnotes"].fillna(land_value_foot, inplace=True)
land_df.head()

,country_or_area,element_code,element,year,unit,value,value_footnotes,category
0,United States of America,11,Area,2007,1000 Ha,411158.0,Fm,agricultural_area
1,United States of America,11,Area,2006,1000 Ha,411060.0,Fm,agricultural_area
2,United States of America,11,Area,2005,1000 Ha,412878.0,Fm,agricultural_area
3,United States of America,11,Area,2004,1000 Ha,414674.0,Fm,agricultural_area
4,United States of America,11,Area,2003,1000 Ha,416902.0,Fm,agricultural_area

In [32]:
frames = [forest_df, crops_df, land_df]
all_frames = pd.concat(frames)
del all_frames["country_or_area"]
all_frames.head()

,element_code,element,year,unit,value,value_footnotes,category,area
0,150.0,Non-fertilizer use,2007,tonnes,0.0,NR,ammonia_anhydrous,NaN
1,150.0,Non-fertilizer use,2006,tonnes,1120025.0,Qm,ammonia_anhydrous,NaN
2,150.0,Non-fertilizer use,2005,tonnes,1076048.0,Qm,ammonia_anhydrous,NaN
3,150.0,Non-fertilizer use,2004,tonnes,637163.0,Qm,ammonia_anhydrous,NaN
4,150.0,Non-fertilizer use,2003,tonnes,1236054.0,Qm,ammonia_anhydrous,NaN